* {
	margin: 0;
}
.logo {
	display: flex;
	padding-left : 80px;
	align-items: center;
	width: 30%;
	margin-right : 120px;
}
.logoImg {
	width : 70px;
	height : 70px;
	margin-right : 14px;
}
.logoName {
	height : 120px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.logoName .logoName1 {
	font-size: 24px;	
	font-weight: 900;
	color : #B53E5A;
	height : 50%;
}
.logo1Content {
	margin : 0;
	line-height: 58px;
	margin-top: 20px;
}
.logoName .logoName2 {
	box-sizing: border-box;
	font-size: 24px;
	font-weight: 900;
	color: rgb(58, 54, 54);
}
