.chatCon {
  width: 25%;
  position: fixed;
  bottom: 3%;
  right: 3%;
}

.chatCon .chatBox {
	/* display: none; */
  width: 100%;
  height: 360px;
  border-radius: 25px;
  background-color: #eee;
}

.chatCon .chatBox .header {
  background-color: #B56161;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
}

.chatCon .chatBox .msgArea {
  overflow: hidden;
  height: 370px;
  padding: 15px;
}

.chatCon .chatBox .msgArea .left span {
  display: inline-block;
  font-size: 15px;
  border-radius: 15px;
  padding: 15px;
	background-color: #B56161;
	color: #fff;

}

.chatCon .chatBox .msgArea .right {
  text-align: right;
}

.chatCon .chatBox .msg-area .right span {
  display: inline-block;
  font-size: 17.5px;
  border-radius: 15px;
  padding: 15px;
  background-color: #ddd;
}

.chatCon .chatBox .footer {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chatCon .chatBox .footer input {
  border: 1px solid #fff;
  padding: 10px;
  width: 80%;
  border-radius: 15px;
}

.chatCon .chatBox .footer input:foucs {
  outline: none;
}

.chatCon .chatBox .footer button {
  border: none;
  font-size: 22.5px;
  color: lightgreen;
  cursor: pointer;
}

.chatCon .pop {
  width: 100%;
  height: 25%;
  cursor: pointer;

}

.chatCon .pop p {
  text-align: right;
}

.chatCon .pop img {
  width: 20%;
}