.navbar {
	display: flex;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	position: sticky;
}
.navbarButtons {
	display: flex;
	flex-direction: column;
	gap: 0;
	margin: auto;
}
.navbarButton {
	margin-bottom: 2px;
}
