:global .ant-modal-content {
	border-radius: 10px !important;
}
:global .ant-modal-title {
	color : #fff !important;
	letter-spacing : 2px !important;
	font-weight: 700 !important;
	font-size : 20px !important;
}
:global .ant-modal-header {
	background-color: #B56161 !important;
	border-radius: 10px 10px 0 0!important;
}

:global .ant-form-item-label label{
	color: #B56161 !important;
	font-weight: 700;
}
:global .ant-btn-primary {
	background-color: #B56161 !important;
	border-color: #B56161 !important;
}